// ==========================================================================
// Color variables
// ==========================================================================

$color__primary-text: #444;

$color__link: royalblue;
$color__link--visited: purple;
$color__link--hover: midnightblue;

$color__nav: #999999;
$color__nav--hover: #54eacf;

$color__pre-background: #eee;
$color__mark-background: #fff9c0;

$color__hr: #ccc;

$color__screen-reader-text-background: #f1f1f1;
$color__screen-reader-text-text: #21759b;

$color__input-text: #666;
$color__input-text--focus: #111;
$color__input-border: #ccc;

$color__placeholder: #ececec;

$color__background: #ececec;

$color__map: (
	pink: #f576ba,
	green: #53e8cd,
	blue: #2cc3fb,
	yellow: #f6ce1c
);