// ==========================================================================
// Links
// ==========================================================================

a {
	color: $color__link;
}
a:visited {
	color: $color__link--visited;
}
a:hover,
a:focus,
a:active {
	color: $color__link--hover;
}