// ==========================================================================
// Menus
// ==========================================================================

.main-navigation {
	@include clearfix;
	display: block;
	width: 100%;
	margin: 0 0 $spacing*2;

	text-transform: uppercase;
	text-align: center;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		display: inline-block;
		position: relative;
		padding: 0 $spacing;

		&:hover {
			> a {}
		}
	}

	a {
		display: block;
		color: $color__nav;
		text-decoration: none;

		&:hover, &:active, &:focus {
			color: $color__nav--hover;
		}
	}

	.current_page_item,
	.current-menu-item {
		a {
			color: $color__nav--hover;
		}
	}
}

// Small menu
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}
