// ==========================================================================
// Posts and pages
// ==========================================================================

.sticky { /*! Not used. */ }

.post, .navigation {
	background-color: lightcyan;

	$colors: map-values( $color__map );
	$n: length( $colors );
	@for $i from 1 through $n {
		&:nth-of-type( #{$n}n + #{$i} ) {
			background-color: nth( $colors, $i );
		}
	}
}

.content-area {
	position: relative;

	$size: 280px;
	$gutter: 15px;
	$level: $size/2 + $gutter;

	.post,
	.navigation {
		position: absolute;
		display: table;
		width: 100%;
		height: $size;
		width: $size;
		clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0 50% );
	}

	.post:nth-of-type( 7n + 1 ) {
		@include point( 0, $size/2, left );
	}

	// 2nd Level
	.post:nth-of-type( 7n + 2 ) {
		@include point( $level, $size + $gutter, left );
	}
	.post:nth-of-type( 7n + 3 ) {
		@include point( $level, $gutter);
	}

	// 3rd Level
	.post:nth-of-type( 7n + 4 ) {
		@include point( $level * 2, $size * 1.5 + $gutter * 2, left);
	}
	.post:nth-of-type( 7n + 5 ) {
		@include point( $level * 2, $size/2, left );
	}
	.post:nth-of-type( 7n + 6 ) {
		@include point( $level * 2, $size/4 + $gutter * 2);
		height: $size * 1.5;
		width: $size * 1.5;
	}

	// 4th Level
	.post:nth-of-type( 7n + 7 ) {
		@include point( $level * 3, $size + $gutter, left );
	}

	// Special case...
	.navigation {
		@include point( $size + $size * .75 + $gutter * 3, $gutter * 4/3, left );
		height: $size * .75;
		width: $size * .75;
	}

	.entry-title,
	.entry-image,
	.next-page {
		margin: 0;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.entry-image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	a {
		color: white;
		@include font-size( 18 );
		text-transform: uppercase;
		font-weight: $normal;
		text-decoration: none;
	}
}

.placeholders .post {
	background-color: $color__placeholder !important;
}
