// ==========================================================================
// Posts and pages
// ==========================================================================

.navigation {
	background-color: map-get( $color__map, blue );
}

.content-area {
	.post {
		$colors: map-values( $color__map );
		$n: length( $colors );
		@for $i from 1 through $n {
			&:nth-of-type( #{$n}n + #{$i} ) {
				background-color: nth( $colors, $i );
			}
		}
	}

	.entry-title,
	.entry-image {
		margin: 0;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

	.entry-image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	a {
		color: white;
		@include font-size( 18 );
		text-transform: uppercase;
		font-weight: $normal;
		text-decoration: none;
	}
}

.single-post {
	padding: $spacing;
	box-shadow: 0 0 20px rgba( black, 0.15 );
	color: white;
	@include font-size( 16 );
	background: map-get( $color__map, blue );

	.genericon {
		font-size: 32px;
		color: white;

		&:hover, &:active, &:focus {
			color: white;
		}
	}

	a {
		color: white;

		&:hover, &:active, &:focus {
			color: fade-out( white, 0.2 );
		}
	}
}

