// ==========================================================================
// Post list structure
// ==========================================================================

.post-list {
	position: relative;
	left: -62.5px;
}

.content-area {
	position: relative;

	$size: 280px;
	$gutter: 15px;
	$level: $size/2 + $gutter;

	.post,
	.navigation {
		position: absolute;
		display: table;
		height: $size;
		width: $size;
		clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0 50% );
	}

	.entry-title {
		max-width: $size;
		max-height: $size;
	}

	.post:nth-of-type( 7n + 6 ) {
		height: $size * 1.5;
		width: $size * 1.5;
	}

	.navigation {
		height: $size * .75;
		width: $size * .75;
	}

	.placeholders .post {
		background-color: $color__placeholder !important;
	}

	.decoration {
		position: fixed;
		z-index: -1;

		&.small {
			@include point( $size*2, $size + $gutter, left );
			polygon {
				stroke-width: 4px;
			}
		}
		&.medium {
			@include point( $gutter*2 + 100, $size + $gutter, left );
			polygon {
				stroke-width: 4px;
			}
		}
		&.large {
			@include point( $size + 80, $size*2, left );
		}
		&.very-large {
			@include point( -50px, $size + $gutter, left );
		}

		polygon {
			stroke: $color__placeholder;
			stroke-width: 2px;
			fill: transparent;
		}
	}
}

.single-post {
	position: absolute;
	z-index: 10; // Above diamonds
	top: 220px;
	left: $spacing * 3;
	right: $spacing * 3;
}
